.DS_Store
*.DS_Store
.vercel

.nhost
web/node_modules
node_modules
functions/node_modules

# Logs
logs/
*.log


todo.md

/.eslintignore
/.eslintrc*
/vite.*.js
/jest.*.js
/*tsconfig*.json
/esbuild.*.js

/build
/.svelte-kit
/package
.env
.env.*
!.env.example